.chat {
    .head {
        background-color: rgb(41, 41, 122);
        font-size: 18px;
        color: rgba(255, 255, 255, 0.904);
        padding: 10px 10px;
    }

    .body {
        padding: 10px;
    }

    .message {
        position: fixed;
        bottom: 0;
        width: 100%;
    
        .search {
            input {
                width: 100%;
            }
        }
    
    }
}

.botMessage {
    width: 100%;
    padding: 10px;
}

.userMessage {
    width: 100%;    
    padding: 10px;
    float: right;
    text-align: right;
}